@model  IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Basket";
    ViewData["IsBasket"] = true;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table-hover">
    <thead>
        <tr>
            <td>Name</td>
            <td>Price</td>
            <td>Category</td>
            <td>Option</td>
        </tr>
    </thead>
    <tbody>
        <partial name="ProductListPartial" view-data="ViewData"/>
    </tbody>
</table>
<a asp-controller="Basket"
   asp-action="ClearAll"
   class="button">
    Clear
</a>


