@model IEnumerable<ProductViewModel>
@{
    ViewData["Title"] = "Products";
    ViewData["IsBasket"] = false;

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>

            <td>Name</td>
            <td>Price</td>
            <td>Category</td>
            <td>Option</td>
        </tr>
    </thead>
    <tbody>
        <partial name="_ProductListPartial" view-data="ViewData" />
    </tbody>
</table>
