@model IEnumerable<ProductViewModel>

@foreach (var product in Model)
{
    <tr>

        <td>
            @product.Name
        </td>

        <td>
            @product.Price
        </td>

        <td>
            @product.CategoryName
        </td>

        <td> <a asp-controller="Product" asp-action="Add" asp-route-id="@product.Id">Add to basket</a></td>

    </tr>

}