@model IEnumerable<ProductViewModel>

@foreach (var product in Model)
{
    <tr>


        <td>
            @product.Name
        </td>

        <td>
            @product.Price
        </td>

        <td>
            @product.CategoryName
        </td>

        @if ((bool)ViewData["IsBasket"])
        {
            <td> Delete from basket </td>
        }
        else
        {
            <td> Add to basket </td>
        }



    </tr>

}